body {
    background-color: burlywood
}

ul {
    list-style: none
}
.bckimg {
    background-image: url("../img/tacos.jpg");
}
.split {
    height: 100%;
    width: 47%;
}

.left {
    float: left;
}

.right {
    float: right;
}